.success {
  color: rgb(168, 255, 117);
  background: transparent;
  font-size: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  }

  .error {
    color: rgb(255, 253, 117);
    background: transparent;
    font-size: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
  }

  * {background-color:  rgb(39, 73, 138);
    font-family: 'Fira Code', monospace;
    }